review/candidate/n8n-tinh-hoa/14-data-transformation.json
{
  "name": "Data Transformation Template",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 260]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-1",
              "name": "userName",
              "value": "={{ $json.firstName }} ={{ $json.lastName }}",
              "type": "string"
            },
            {
              "id": "set-2",
              "name": "isActive",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "set-3",
              "name": "score",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {
          "includeOtherFields": false
        }
      },
      "id": "set-1",
      "name": "Transform Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 260]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $('Transform Fields').item.json.score }}",
              "rightValue": "50",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-1",
      "name": "Check Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [580, 260]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "high-1",
              "name": "category",
              "value": "high-score",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "id": "high-1",
      "name": "High Score Branch",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [760, 160]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "low-1",
              "name": "category",
              "value": "low-score",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "id": "low-1",
      "name": "Low Score Branch",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [760, 360]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Transform Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Fields": {
      "main": [
        [
          {
            "node": "Check Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Score": {
      "main": [
        [
          {
            "node": "High Score Branch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Low Score Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
